
<div class="container">
  <div *ngFor="let row of products" class="row">
    <div *ngFor="let product of row" class="col-md-3">
      <div class="thumbnail">
        <img [src]="product.pic" alt="image">
        <div class="caption">
          <p class="right"><strong>${{product.priceperday}}</strong> / day</p>
          <p class="primary">{{product.productname}}</p>
          <p>{{product.location}}</p>
          <ngb-rating  [(rate)]="product.rating"></ngb-rating>
        </div>
      </div>
    </div>
  </div>
</div>