<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="well">
      <h3 align="center">Narrow by</h3>
        <form class="form-horizontal">
          <div class="form-group">
            <label for="category" class="control-label">Category</label>
            <select class="form-control" name="">
              <option value="">Any</option>
              <option value="">Snow</option>
              <option value="">Water</option>
              <option value="">Hiking</option>
            </select>
          </div>
          <div class="form-group">
            <label for="pricefrom" class="control-label">Min Price</label>
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <input type="text" class="form-control" id="pricefrom" >
            </div>
          </div>
          <div class="form-group">
            <label for="priceto" class="control-label">Max Price</label>
            <div class="input-group">
              <div class="input-group-addon">$</div>
              <input type="text" class="form-control" id="priceto" >
            </div>
          </div>
          <div class="form-group">
            <label for="datefrom" class="control-label">From</label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"  ngbDatepicker #df="ngbDatepicker">
              <div class="input-group-addon" (click)="df.toggle()" >
                <i class="fa fa-calendar"></i>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="dateto" class="control-label">To</label>
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"  ngbDatepicker #dt="ngbDatepicker">
              <div class="input-group-addon" (click)="dt.toggle()" >
                <i class="fa fa-calendar"></i>
              </div>
            </div>
          </div>

          <p align="center"><a href="#"><i class="fa fa-search fa-lg"></i></a></p>
        </form>
      </div>
    </div>

    <div class="col-md-9">
      <div *ngFor="let row of products" class="row">
        <div *ngFor="let product of row" class="col-md-4">
          <div class="card" uiSref="productDetails" [uiParams]="{ productId: product.id }">
            <img class="card-img-top" [src]="product.pic" alt="image">
            <div class="card-block">
              <p class="right card-text"><strong>${{product.priceperday}}</strong> / day</p>
              <p class="primary card-text">{{product.productname}}</p>
              <p class="card-text">{{product.location}}</p>
              <ngb-rating  [(rate)]="product.rating"></ngb-rating>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>