
<div class="container">
  <div *ngFor="let row of products" class="row">
    <div *ngFor="let product of row" class="col-md-3">
      <div class="card">
        <img class="card-img-top" [src]="product.pic" alt="image">
        <div class="card-block">
          <p class="right card-text"><strong>${{product.priceperday}}</strong> / day</p>
          <p class="primary card-text">{{product.productname}}</p>
          <p class="card-text">{{product.location}}</p>
          <ngb-rating  [(rate)]="product.rating"></ngb-rating>
        </div>
      </div>
    </div>
  </div>
</div>