## Mac OSX ##
.DS_Store

## NPM ##
node_modules/
npm-debug.log

.baseDir.ts
.tscache

dist/
dist/
dist/

## DATABASE CREDENTIALS ##
server/db/dbConfig.js

## Auth0 CREDENTIALS ##
app/auth/auth.config.ts
server/auth/authConfig.js

## Typescript command files ##
*.tmp.txt
tscommand-a627fb85.tmp.txt
tscommand-e03b9e7f.tmp.txt
tscommand-e8745026.tmp.txt