<form>
  <ul>
    <li class="form-group">
      <label>Your overall rating</label>
      <div class="rating">
        <ngb-rating [(rate)]="selected" (hover)="hovered=$event" (leave)="hovered=0" (click)="selected=hovered" [readonly]="readonly" ></ngb-rating>
        <span *ngIf="hovered === 5">&nbsp; &nbsp;Excellent</span>
        <span *ngIf="hovered === 4">&nbsp; &nbsp;Good</span>
        <span *ngIf="hovered === 3">&nbsp; &nbsp;Average</span>
        <span *ngIf="hovered === 2">&nbsp; &nbsp;Below Average</span>
        <span *ngIf="hovered === 1">&nbsp; &nbsp;Unsatisfactory</span>
      </div>
    </li>
    <li class="form-group">
      <label>Your review</label>
      <textarea class="form-control" placeholder="Tell people about your experience" cols="40" rows="5" [(ngModel)]="model.text" [ngModelOptions]="{standalone: true}"></textarea>
    </li>

  </ul>
</form>