h3 {
  color: white;
  float: right;
  height: 40px;
}
/*.homeBanner {
  background-size: cover;
  height: 300px;
  padding-top: 200px;
}*/
.homeInfo {
  height: 60px;
  text-align: center;
  padding: 50px;
  font-family: 'Open Sans', sans-serif;
}
.homeCarousel {
  /*max-height: 400px !important;*/
  padding-top: 10px;
}
.carouselSlide {
  height: 50px;
}
img {
  height: 400px !important;
  width: 100%;
}