<!-- <div class="homeBanner">
  <h1>Surf</h1>
</div> -->
<div class="homeCarousel">
  <ngb-carousel>
  <div class="carouselSlide">
    <template ngbSlide>
      <img id="clip" src="../../assets/surfBanner.jpg">
      <div class="carousel-caption">
        <h3>Surf</h3>
      </div>
    </template>
  </div>
  <template ngbSlide>
    <img src="../../assets/chairlift.jpg" >
    <div class="carousel-caption">
      <h3>Snow</h3>
    </div>
  </template>
  <template ngbSlide>
    <img src="../../assets/enchilada.jpg">
    <div class="carousel-caption">
      <h3>Bike</h3>
    </div>
  </template>
  </ngb-carousel>
</div>
<div>
  <p class="homeInfo">RENT GEAR<p>
  <p class="homeInfo">YOUR GEAR + OUR BOX = EXTRA CASH<p>
</div>