<div class="row homeCarousel">
  <ngb-carousel>
  <div class="carouselSlide">
    <template ngbSlide>
      <img id="clip" src="../../assets/surfBanner.jpg">
      <div class="carousel-caption">
        <h3>SURF</h3>
      </div>
    </template>
  </div>
  <template ngbSlide>
    <img src="../../assets/chairlift.jpg" >
    <div class="carousel-caption">
      <h3>SNOW</h3>
    </div>
  </template>
  <template ngbSlide>
    <img src="../../assets/enchilada.jpg">
    <div class="carousel-caption">
      <h3>BIKE</h3>
    </div>
  </template>
  </ngb-carousel>
</div>
<div class="home-content row">
  <div class="col-md-4">
    <div class="row">

      <h1 class="homeInfo">Why use Gear Box?</h1>
    </div>
    <div class="row">
      <p class="home-detail">
      Gear Box is great for travel or just hanging out; we've got a variety of users   with gear available for you to rent. Save exorbitant airline fees for traveling with large items such as kayaks, surfboards, and snowboards. Now you can live out that life long dream of going on a combination motorcycle kayaking trip!
      </p>
    </div>
  </div>
  <div class="col-md-4">
    <h1 class="homeInfo">Safe & Secure</h1>
    <p class="home-detail">
    We handle payment through Stripe, making credit card payments easy. The lender charges an appropriate deposit for their item, to be returned once the item is received back in good condition. Users are encouraged to use our feedback system to help support a thriving rental community.
    </p>
  </div>
  <div class="col-md-4">
    <h1 class="homeInfo">User Testimonial</h1>
    <p class="home-detail">
    I recently went on a vacation to the snowy wonderland of Aspen, Colorado. There's nothing like a warm hot chocolate next to the fire after a long day of snowboarding. Every year, I have to take my snowboard with me to go in the back country, and the prices for airfare just seem to get worse every year. I discovered Gear Box and already saved hundreds of dollars. The snowboards I rent are top quality, and the people I'm renting from are very reasonable.  - "Mike, Avalanche Safety Guide - San Francisco, California"
    </p>
  </div>
</div>