h3 {
  color: white;
  float: right;
  height: 40px;
}

/*.homeBanner {
  background-size: cover;
  height: 300px;
  padding-top: 200px;
}*/

.homeInfo {
  text-align: center;
  padding: 50px;
  font-family: 'Open Sans', sans-serif;
  color: #579ed1;
}

.homeCarousel {
  /*max-height: 400px !important;*/
  padding-top: 10px;
}

.carouselSlide {
  height: 50px;
}

img {
  height: 600px !important;
  width: 100%;
}

.home-content {
  padding-bottom: 1em;
}

.home-detail {
  padding: 0 2%;
  width: 75%;
  margin: 0 auto;
}