<template #content ngbModalContainer let-c="close" let-d="dismiss">
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Product Details</h4>
  </div>
  <div class="modal-body">
    <form>
      <ul>
        <li class="form-group">
          Product Name <input class="form-control" type="text" placeholder="Brand/Model">
        </li>
        <li class="form-group">
          Product Description <input class="form-control" type="text" placeholder="Description">
        </li>
        <li class="form-group">
          Price Per Day <input class="form-control" type="text" placeholder="$ per/day">
        </li>
        <li>
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>Select Category</button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <button class="dropdown-item">Surf</button>
              <button class="dropdown-item">Snow</button>
              <button class="dropdown-item">Bike</button>
              <button class="dropdown-item">Camp</button>
            </div>
          </div>
        </li>
      </ul>
      <div [(ngModel)]="model" ngbRadioGroup name="radioBasic" style="text-align: center">
        <label class="btn btn-primary">
          <input type="radio" [value]="1"> Submit
        </label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
  </div>
</template>


<button class="btn btn-lg btn-outline-primary" (click)="open(content)">CLICK HERE</button>

<hr>

<pre>{{closeResult}}</pre>