<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div *ngIf="user" class="card profile">
        <img class="card-img-top" [src]="user.profilepic" alt="profilepic goes here">
        <div class="card-block">
          <h4 class="card-title">{{user.firstname}} {{user.lastname}}</h4>
          <p class="card-text">{{user.email}}</p>
          <p class="card-text">{{user.location}}</p>
          <a href="#" class="btn btn-primary">Edit account details</a>
        </div>
      </div>
      <div class="card account">
        <div class="card-header">Your Gear Box Fund</div>
        <div class="card-block">
          <div *ngIf="!stripeAccount">
            <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_9a8bzah8dL5kCivNaejX7SVwLJcZQABd&scope=read_write&state={{userId}}">
              <img src= "../../../assets/light-on-light.png" class="stripeImage"/>
            </a>
          </div>
          <div *ngIf="stripeAccount">
            <p>Available Fund <span class="pull-right"></span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <ngb-tabset>
        <ngb-tab title="My Gears">
        <template ngbTabContent>
          <div class="card">
            <div class="card-header">
              <i class="fa fa-plus-circle pull-right"></i>
            </div>
            <div *ngFor="let product of products" class="card">
                <a href="#/product/{{product.id}}">
                  <div class="row">
                    <div class="col-md-4">
                      <img [src]=product.url[0] />
                    </div>
                    <div class="row col-md-8 border">
                      <div class="col-md-8">
                        <h4 class="card-title">{{product.productname}}</h4>
                      </div>
                      <div class="col-md-4">
                        <p class="text-right"><strong>${{product.priceperday}}</strong> / day <br>{{product.location}}</p>
                      </div>
                      <div class="col-md-12">
                        <p class="primary card-text">{{product.description}}</p>
                      </div>
                    </div>
                  </div>
                </a>
            </div>
          </div>
      </template>
      </ngb-tab>
      <ngb-tab title="My Rentals">
      <template ngbTabContent>
        <div class="card">
          <div class="card-header">
            My Rentals
          </div>
          <div class="card-block">
            <h4 class="card-title">Special title treatment</h4>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">View all my rentals</a>
          </div>
        </div>
      </template>
      </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
