<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div *ngIf="user" class="card">
        <img class="card-img-top" [src]="user.profilepic" alt="profilepic goes here">
        <div class="card-block">
          <h4 class="card-title">{{user.firstname}} {{user.lastname}}</h4>
          <p class="card-text">{{user.email}}</p>
          <p class="card-text">{{user.location}}</p>
          <a href="#" class="btn btn-primary">Edit account details</a>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          My Gear
        </div>
        <a href="#" class="btn btn-primary">View all my gear</a>
        <a href="#" class="btn btn-primary">Add gear</a>
        <div *ngFor="let product of products" class="card">
          <div class="row">
            <div class="col-md-4">
              <img [src]=product.primaryImage />
            </div>
            <div class="col-md-5">
              <p class="left card-text">{{product.productname}}</p>
            </div>
            <div class="col-md-3">
              <p class="right card-text border"><strong>${{product.priceperday}}</strong> / day <br>{{product.location}}</p>
            </div>
            <div class="col-md-8">
              <p class="primary card-text">{{product.description}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          My Rentals
        </div>
        <div class="card-block">
          <h4 class="card-title">Special title treatment</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">View all my rentals</a>
        </div>
      </div>
    </div>
  </div>
</div>
