img {
  width: 100%;
}

.gear {
  height: 50%;
  width: 50%;
}

.profile, {
  text-align: center;
}
.border {
  border: 1px dashed black;
}
.container {
  margin-top: 50px;
}

.gearList {
  border: none;
}

.stripeImage {
  max-width: 80%;
}